* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body.lock {
  overflow: hidden;
}

body.pop-lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header.hide-header {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.test__row {
  padding: 10px 0;
}

.spoiler-block:not(:last-child) {
  margin: 0 0 100px 0;
}

.spoiler-block.init .spoiler__button > span {
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.spoiler-block.init .spoiler__button > span::before, .spoiler-block.init .spoiler__button > span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
}

.spoiler-block.init .spoiler__button > span::before {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.spoiler-block.init .spoiler__button > span::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.spoiler-block.init .spoiler__button.active > span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spoiler {
  color: black;
}

.spoiler:not(:last-child) {
  margin: 0 0 20px 0;
}

.spoiler__button {
  padding: 10px;
  font-size: 30px;
  background: orange;
  display: flex;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spoiler__body {
  padding: 10px;
  background: green;
}
