//</body>==================================================================================================================================================
body{
   font-family: $font;
   &.lock{
      overflow: hidden;
   }
   &.pop-lock{
      overflow: hidden;
   }
}