//</maxContainerWidth>==================================================================================================================================================
$maxWidthContainer: 1180;
//</min Vievport Width>==================================================================================================================================================
$minWidth: 240;
//</Canvas width>==================================================================================================================================================
$canvas: null;
//</different max-width>==================================================================================================================================================
$mw2: 972;
$mw3: 747;
$mw4: 405;
$mw5: 300;
//</ContainerPadding>==================================================================================================================================================
//10px вправо, 10px влево
$containerPadding: 10;
//</Breakpoints>==================================================================================================================================================
$desktop: $maxWidthContainer + ($containerPadding * 2) + px;
$tablet: $mw2 + ($containerPadding * 2) + px;
$mobile: $mw3 + ($containerPadding * 2) + px;
$mobile-m: $mw4 + ($containerPadding * 2) + px;
$mobile-s: $mw5 + ($containerPadding * 2) + px;
//</responsiveType>==================================================================================================================================================
//0 - адаптив с уменьшением ширины контейнера, 1 - отзывчивый адаптив 
$responsiveType: 1;