//</menu-header>==================================================================================================================================================
.menu-header {
   // .menu-header__burger
   &__burger {
   }
   // .menu-header__body
   &__body {
      @media (max-width: $mobile){
         position: fixed;
         top: 0;
         left: -100%;
         width: 75%;
         height: 100%;
         transition: all 0.5s ease 0s;
         background: black;
         &.active{
            left: 0;
            overflow: auto;
         }  
      }
   }
}
//=======================================================================================================================================================